{% extends 'modele.html.twig' %}

{% block title %}Hello Home!{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Jumbotron</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>

    {% for annonce in listAnnonces %}
        <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">Annonce n° {{ annonce.id }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ annonce.title }}</h4>
                <p class="card-text">{{ annonce.content }}</p>
                <img style="height: 100px; width: 150px; display: block;" src="{{ annonce.image }}" alt="Card image">
            </div>
        </div>
    {% endfor %}

    <div >
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item {% if pageCourante == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ path('home',{'page' : pageCourante-1 }) }}">&laquo;</a>
            </li>
            {% for i in 1..nbDePages  %}
            <li class="page-item {% if i == pageCourante %} active {% endif %}">
                <a class="page-link" href="{{ path('home',{'page' : i }) }}">{{ i }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if pageCourante >= nbDePages %} disabled {% endif %}">
                <a class="page-link" href="{{ path('home',{'page' : pageCourante+1 }) }}">&raquo;</a>
            </li>
        </ul>
    </div>

{% endblock %}